<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

<main>
    <div class="container">
      <video width = 100% height = auto 
        src="https://www.youtube.com/watch?v=7X2ltgAvrbA?autoplay=1&mute=1">
      </video>
      <div class = "centered">
        <h1> 
          A NEW WAY TO TRAVEL
        </h1>
        <h5> 
          Karv is not just a ski marketplace, it is the world's leading guide to discovering your new life within skiing.
        </h5>
        <h2>
          FIND YOUR LOCATIONS
        </h2>
        <text> 
          Want to get away? Our goal at Karv is to provide our users with an outlet
          where they can have a one-stop shop for all things ski related. View our 
          selection of products by searching in the search bar. 
        </text>
      </div> 
      <div class = "centered">
        <button href = "/trips">VIEW LOCATIONS</button>
      </div>
      <div>
        <img width = 100% height = auto 
          src = "../../resources/img/Moraine_Lake_17092005.jpg"> 
        </img>
      </div>
    </div>
  </main>

<%- include ('../partials/footer') %>