<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

<style>
  /* Define the fun font */
  @import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');
  
  /* Center the contents of the div */
  .centered {
    text-align: center;
  }
  
  /* Style the button */
  button {
    background-color: #F1C40F;
    color: #FFFFFF;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Add some margin to the button */
  button {
    margin-top: 20px;
  }
</style>

<main>
    <div class="container">
      <div class = "video">
        <iframe id="player" style="position: relative; inset: -15.4062px 0px 0px; width: 100%; height: 400px;" 
        frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture; web-share" title="Karv Home Page Video" width=100% height= auto 
        src="https://www.youtube.com/embed/7X2ltgAvrbA?autohide=1&mute=1&autoplay=1&controls=0&wmode=opaque&widgetid=1" class="background-video ready">
      </iframe>
    </div>
    
      <div class = "centered">
        <h1> 
          A NEW WAY TO TRAVEL
        </h1>
        <h5> 
          Karv is not just a ski marketplace, it is the world's leading guide to discovering your new life within skiing.
        </h5>
        <h2>
          FIND YOUR LOCATIONS
        </h2>
        <text> 
          Want to get away? Our goal at Karv is to provide our users with an outlet
          where they can have a one-stop shop for all things ski related. View our 
          selection of products by searching in the search bar. 
        </text>
      </div> 
      <div>
        <img width = 100% height = auto 
          src = "/img/Moraine_Lake_17092005.jpg"> 
        </img>
      </div>
    </div>
  </main>

<%- include ('../partials/footer') %>