<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

<style>
  /* Define the fun font */
  @import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');
  
  /* Center the contents of the div */
  .centered {
    text-align: center;
  }

  body{
        padding: 0;
        border: 0;
        
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
  }
</style>
  <main>
    <body>
    <div class="container">
      <div class = "video">
        <iframe id="player" style="position: relative; inset: -15.4062px 0px 0px; width: 100%; height: 400px;" 
        frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture; web-share" title="Karv Home Page Video" width=100% height= auto 
        src="https://www.youtube.com/embed/7X2ltgAvrbA?autohide=1&mute=1&autoplay=1&controls=0&wmode=opaque&widgetid=1" class="background-video ready">
      </iframe>
    </div>
    
      <div class = "centered">
        <h1 style = "font-family: 'Baloo', cursive; font-weight: bold;"> 
          A NEW WAY TO TRAVEL
        </h1>
        <h5  style = "font-family: 'Baloo'"> 
          Karv is not just a ski marketplace, it is the world's leading guide to discovering your new life within skiing.
        </h5>
        <div class = "centered">
          <form class="form-outline my-2 my-lg-4" action="/trips" method="GET">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style = "background-color: #F1C40F;  color: #FFFFFF; font-family: Baloo"> 
                FIND YOUR DREAM LOCATION 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-engines-fill" viewBox="0 0 16 16">
                <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0Z"></path>
              </svg>
            </button>
          </form>
        </div>
      </div> 
      <div class = "centered">
        <text style = "font-family: 'Baloo'"> 
          Want to get away? Our goal at Karv is to provide our users with an outlet
          where they can have a one-stop shop for all things ski related. View our 
          selection of products by searching in the search bar. 
        </text>
      </div>
      <div>
        <img width = 100% height = auto
          src = "/img/Moraine_Lake_17092005.jpg"> 
        </img>
      </div>
    </div>
  </body>
</main>

<%- include ('../partials/footer') %>