<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>


<style>
    body{
            padding: 0;
            border: 0;
            background: url(https://nypost.com/wp-content/uploads/sites/2/2022/08/best-skis-experts-03.jpg)no-repeat;
            background-size: cover;
    
        }
        
    
        .logout-page{
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            position: relative;
            z-index: 1;
            background-color: rgba(95,158,160,99);
            max-width: 50%;
            max-height: 100px;
            margin: 20px auto 20px;
            padding: 10px 45px 10px 45px;
            text-align: center;
            box-shadow: 0 0 20px 0;
            border-radius: 7px;
    
        }
        
    </style>
    <main>
            <div class="logout-page">
                <h4>You have been logged out successfully! Thank you for visiting!</h4>
            </div>
        </main>


<%- include ('../partials/footer') %>