<%- include ('../partials/header') %>

<main>
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <title>Resort</title>
        <div id="left_side" style="float: left;">
            <div style="margin-bottom: 80px;">
                <h1>Resort Name</h1>
            </div>
            <div>
                <div>
                    <form style="text-align: center; margin-bottom: 20px;">
                        <label>Starting Destination:</label>
                        <input type="text">
                    </form>
                </div>
                <div style="background-color: cadetblue;">
                    <br>
                    <br>
                    <br>
                    <br>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p style="color:white; font-size: xx-large;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Map here</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- Google maps map here -->
                </div>
            </div>
        </div>
        <div id="right_side" style="float:right;">
            <div style="margin-bottom: 30px;">
                <p>Learn more <a>here</a></p> <!-- Link to resort website here -->
            </div>

            <div style="margin-bottom: 30px;">
                <form>
                    <label>Trip Duration: &nbsp;</label>
                    <input placeholder="1,2,3 ... Days" type="text" size="10px;">
                    <button>Add Trip</button> <!-- Add trip to past trips database -->
                </form>
            </div>

            <div>
                <h3>Ski Lift Status</h3>
                <p>Lift 1</p>
                <p>Lift 2</p>
                <p>Lift 3</p>
                <p>Lift 4</p>
                <p>Lift 5</p>
                <p>Lift 6</p>
            </div>

        </div>
    </div>
</main>

<%- include ('../partials/footer') %>