<%- include ('../partials/header') %>
<main>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <!-- <h1>Search Results</h1>
    <% if (results.length > 0) { %>
      <ul>
        showing result...
      </ul>
    <% } else { %>
      no result....
    <% } %> -->
  </body>
</main>
<%- include ('../partials/footer') %>