<!DOCTYPE html>

<div class="container gap-3" style="position: relative;">
<nav class="navbar fixed-top navbar-expand-sm bg-dark justify-content-between navbar-dark .me-2" >
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">
        <img src="/img/3.png" width="75" height="75" alt="Logo">
      </a>
    </li>
    <li class="nav-item">
      <form class="form-outline my-2 my-lg-4" action="/search" method="GET">
        <div class="form-group input-group">
          <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search Products" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </li>
  </ul>
  <ul class="navbar-nav" >
    <li class="nav-item">
        <form class="form-outline my-2 my-lg-4" action="/trips" method="GET">
          <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-engines-fill" viewBox="0 0 16 16">
              <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0Z"></path>
            </svg>
            Trips
            <span class="visually-hidden">Button</span>
          </button>
        </form>
      </li>
      <li>
        <form class="form-outline my-2 my-lg-4" action="/cart" method="GET">
          <button type="submit" class="btn btn-outline-success" fdprocessedid="99p3d7">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
            </svg>
            Cart
            <span class="visually-hidden">Button</span>
          </button>
        </form>
      </li>
      <li>
        <form class="form-outline my-2 my-lg-4" action="/profile" method="GET">
          <button type="submit" class="btn btn-outline-success" fdprocessedid="3f225">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"></path>
            </svg>
            Profile
            <span class="visually-hidden">Button</span>
          </button>
        </form>
      </li>
      <li>
        <form class="form-outline my-2 my-lg-4" action="/logout" method="GET">
          <button type="submit" class="btn btn-outline-success" fdprocessedid="3f225">
            Logout
            <span class="visually-hidden">Button</span>
          </button>
        </form>
    </li>
  </ul>
</nav>
</div>