<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<div class="container" style="position: relative; margin-top: 50px;">
<nav class="navbar fixed-top navbar-expand-sm bg-dark justify-content-between text-white" >
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">
        <img src="/img/3.png" width="75" height="75" alt="Logo">
      </a>
    </li>
    <li class="nav-item">
      <form class="form-outline my-2 my-lg-4" action="/search" method="GET">
        <div class="form-group input-group">
          <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search Products" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/profile">
        <img src="/img/download (2).png" width="50" height="50" alt="Logo">
      </a>
    <li class="nav-item">
      <a class="nav-link" href="/trips">
        <div class="text-nav">Trips</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cart">
        <img src="/img/images (1).png" width="50" height="50" alt="Logo">
      </a>
    </li>
  </ul>
</nav>
</div>